@import url("../signup/styles/global.css");

main {
  width: 100vw;
  height: 100vh;
  display: flex;
}

section {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  color: var(--black);
}

.form-container > p {
  font-size: 16px;
  font-weight: 500;
  color: var(--black);
  margin-top: 22px;
  padding: 10px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 60px;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.checkbox {
  flex-direction: row;
  gap: 6px;
  justify-content: flex-start;
  align-items: center;
}

.checkbox > label {
  font-size: 9px;
}

.login {
  height: 35.4px;
  background-color: var(--green);
  color: var(--white);
  border-radius: 10px;
  font-weight: 700;
  font-style: normal;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
}

img {
  width: 50%;
}

label {
  font-size: 14px;
  font-weight: 500;
  color: var(--black);
}

input[type="password"],
input[type="email"] {
  border: 1px solid var(--gray);
  border-radius: 10px;
  padding: 8.5px 10px;
}

input::placeholder {
  font-size: 10px;
  font-weight: 500;
  color: var(--gray);
}

a {
  font-size: 10px;
  font-weight: 500;
  color: var(--blue);
}

.divider {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.5px;
  margin-top: 34px;
}

.line {
  width: 100%;
  height: 2px;
  background-color: var(--border-gray);
}

.divider > p {
  font-size: 9px;
  color: var(--black);
  font-weight: 500;
}

.sign-wrapper {
  display: flex;
  align-items: center;
  margin-top: 89px;
  gap: 23px;
}

.sign-apps {
  padding: 4px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--muted, #d9d9d9);
  color: var(--black);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-family: "Poppins", sans-serif;
}

.logo-sign-button {
  width: 24px;
}

#redirect-sign-up {
  margin-top: 23px;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#redirect-sign-up a {
  color: var(--blue);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
