@import url(reset.css);

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: "Montserrat"; */

body {
  background-color: #1a1a1a;
}

button {
  cursor: pointer;
}

main {
  padding-top: 60px;
  padding-bottom: 79px;
}

header {
  display: flex;
  justify-content: center;
  gap: 163px;
  align-items: center;
  font-family: "Montserrat";
}

img.logo {
  width: 85px;
  height: 44px;
}

nav.nav-header {
  display: flex;
  gap: 50px;

  font-size: 18px;
  font-weight: 500;
}

nav.nav-header a {
  color: #c1c1c1;
}

button.contact-me {
  padding: 13.5px 19px;
  background-color: transparent;
  color: white;
  font-family: "Montserrat";
  border: 1px solid #4fc3f7;
  border-radius: 9px;
  font-size: 15px;
  font-weight: 500px;
}
button.sun-icon-theme {
  background-color: #1a1a1a;
}
